body{
    font-family: sans-serif;
    background-color: #212121;
    /* margin: 0px; */
    /* box-sizing: border-box; */
}
.sp-container{
    width: 100%;
    border: 3px solid white;
    border-radius: 0.5rem;
}

.sp-title{
    color: white;
    padding-left: 10px;
}

.controller-keys{
    display: flex;
    flex-direction: row;
}
.controller-keys > div{
    width: 100%;
}

.a-control{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
    border: 0;
}
.gameclock{
    margin-right: 10px;
}

.gc-start{
    padding: 1rem;
    width: 80px;
    height: 45px;
    background-color: #2e7d32;
    color: #fff;
    border: 2px solid white;
}
.gc-start:hover{
    background-color: #1b5e20;
}

.gc-label{
    color: white;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
}
.gc-stop{
    padding: 1rem;
    width: 80px;
    height: 45px;
    background-color: #c62828;
    color: #fff;
    border: 2px solid white;
}
.gc-stop:hover{
    background-color: #b71c1c;
}   

.simul-start{
    margin-top: 10px;
    display: block;
    width: 80px;
    height: 45px;
    border: 2px solid white;
    color: #fff;
    background-color: #6a1b9a;
}

.simul-stop{
    margin-top: 10px;
    border: 2px solid white;
    display: block;
    width: 80px;
    height: 45px;
    color: #fff;
    background-color: #d50000;
}

.sc-start{
    /* padding: 1rem; */
    width: 75px;
    height: 30px;
    background-color: #2e7d32;
    color: #fff;
    border: 2px solid white;
}
.sc-start:hover{
    background-color: #1b5e20;
}

.sc-label{
    color: white;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
}
.sc-stop{
    /* padding: 1rem; */
    width: 75px;
    height: 30px;
    background-color: #c62828;
    color: #fff;
    border: 2px solid white;
}
.sc-stop:hover{
    background-color: #b71c1c;
}

.b-control{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.gc-adds{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gc-adds > button{
    padding: 0.75rem 0.75rem;
    margin: 3px;
}

.c-control{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.sc-adds{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sc-adds > button{
    padding: 0.75rem 0.5rem;
    margin: 3px;
}


.active-btn{
    color: black;
    font-weight: bold;
    animation: glow 1500ms infinite ease-in-out;
}

@keyframes glow {
    0%{
      background: #ffeb3b;
      box-shadow: 0px 0px 3px #ffeb3b  ;
    }
    50%{
      background: #ffeb3b;
      box-shadow: 0px 0px 40px #ffeb3b;
    }
    100%{
      background: #ffeb3b;
      box-shadow: 0px 0px 3px #ffeb3b;
    }
  }
  


.container{
    width: 98%;
    color: #fff;
    margin: 10px;
    border: 1px solid white;
    border-radius: 0.3rem;
}

.teams{
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    margin: 5px;
    padding: 5px;
    border-radius: 0.3rem;
}
.teams > div{
    width: 100%;
    border: 1px solid white;
    border-radius: 0.3rem;
    margin: 5px;
}

.teams > div > div{
    padding: 5px;
 
}

.other-controls{
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    margin: 5px;
    padding: 5px;
    border-radius: 0.3rem;
}

.other-controls > div{
    width: 100%;
}

.other-controls > div:nth-child(1){
    border: 1px solid white;
}

.btn{
    background-color: #283593;
    color: white;
    border: 0;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #1a237e;
}

.btn2{
    background-color: #4527a0;
    color: white;
    border: 0;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.btn2:hover{
    background-color: #311b92;
}



.btn-minus{
    background-color: #ff3d00;
    border: 0;
    padding:  0.25rem 0.5rem;
    color: white;
    cursor: pointer;
}

.btn-minus:hover{
    background-color: #dd2c00;
}

.tn-container >  input{
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 0;
    width: 90%;
    text-align: center;
}

.teams > div > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.teams > div > div:nth-child(2) > button{
    width: 100%;
    border: 1px solid white;
    font-size: 18px;
    margin: 5px;
}

.team1 > div{
    display: flex;
    flex-direction: row;
}
.team2 > div{
    display: flex;
    flex-direction: row;
}
.tn-container{
    width: 75%;
}

.btn-per{
    background-color: #00838f;
    color: white;
    padding: 0.75rem 0.75rem;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}
.btn-per:hover{
    background-color: #006064;
}

.animated-btn{
    padding: 0.75rem 0.75rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.animated-btn:hover {background-color: #3e8e41}

.animated-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}