body{
    font-family: sans-serif;
    background-color: #212121;
    color: #fff;
    font-family: 'custom';
    /* margin: 0px; */
    /* box-sizing: border-box; */
}
button{
    cursor: pointer;
}

@font-face{
    font-family: 'custom';
    src: url('/font/digital.ttf') format('truetype');
}

.sp-container{
    width: 100%;
    /* border: 3px solid white;
    border-radius: 0.5rem; */
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 10px;
    justify-content: center;
}

.sp-wrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sp-wrapper:nth-child(2){
    width: 40%;
}

.sp-top-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sp-top-row > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    gap: 5px;
    padding: 5px;
}
.sp-top-row > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sp-holder-buttons{
    border-top: 1px solid #ccc;
    padding-top: 5px;
    margin-top: 15px;
}

.sp-holder{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 210px;
}
.sp-holder-clocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.sp-holder-clocks > div{
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
}
.sp-holder-clocks > div > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}


.sp-top-btn{
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.sp-top-btn {
    background-color: #4b5563; 
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .sp-top-btn:hover {
    background-color: #374151;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .sp-top-btn:active {
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .sp-top-buzzer{
    background-color: #15803d;
  }
  .sp-top-buzzer:hover{
    background-color: #166534;
  }
  .sp-top-horn{
    background-color: #ca8a04;
  }
  .sp-top-horn:hover{
    background-color: #a16207;
  }
  
  .sp-holder-data{
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .sp-holder-data > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .sp-holder-data > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .sp-holder-data > div:nth-child(2) > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

.gen-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gen-container > div{
    width: 100%;
}

.a-container{
    display: flex;
    flex-direction: column;
}

.teams > fieldset{
    width: 100%;
}
.team1 > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.team1 > div > button{
    width: 100%;
    margin: 0px 5px;
    font-size: 20px;
}

.team2 > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.team2 > div > button{
    width: 100%;
    margin: 0px 5px;
    font-size: 20px;
}

.hideContent{
    display: none;
}
.showContent{
    display: flex;
}

#gen-btn{
    font-family: 'custom';
}

.tn-container{
    width: 95%;
}
.tn-container >  input{
    padding: .375rem .75rem;
    font-size: 1rem;
    /* border-radius: 0.25rem; */
    border: 0;
    width: 90%;
    text-align: center;
}

.btn-minus{
    background-color: #c62828;
    border: 0;
    padding: 0.75rem 0.75rem;
    color: white;
    cursor: pointer;
}

.btn-minus:hover{
    background-color: #b71c1c;
}

.btn{
    color: black;
    border: 0;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #1b5e20;
    /* border: 2px solid white; */
    color: white;
    transition: 0.2s all ease;
}

.btn2{
    color: black;
    border: 0;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.btn2:hover{
    background-color: #1b5e20;
    color: white;
    transition: 0.2s all ease;
    /* border: 2px solid white; */
}

.gc-start{
    padding: 10px;
    background-color: #2e7d32;
    color: #fff;
    /* border: 2px solid white; */
}
.gc-start:hover{
    background-color: #1b5e20;
}

.gc-stop{
    padding: 10px;
    background-color: #c62828;
    color: #fff;
    /* border: 2px solid white; */
}
.gc-stop:hover{
    background-color: #b71c1c;
}   

.simul-start{
    cursor: pointer;
    padding: 10px;
    /* border: 2px solid white; */
    color: #fff;
    background-color: #6a1b9a;
}
.simul-stop{
    cursor: pointer;
    padding: 10px;
    /* border: 2px solid white; */
    color: #fff;
    background-color: #d50000;
}

.sc-start{
    padding: 10px;
    background-color: #2e7d32;
    color: #fff;
    /* border: 2px solid white; */
}
.sc-start:hover{
    background-color: #1b5e20;
}
.sc-stop{
    padding: 10px;
    background-color: #c62828;
    color: #fff;
    /* border: 2px solid white; */
}
.sc-stop:hover{
    background-color: #b71c1c;
}


.active-btn{
    color: black;
    font-weight: bold;
    animation: glow 1500ms infinite ease-in-out;
}

@keyframes glow {
    0%{
      background: #ffeb3b;
      box-shadow: 0px 0px 3px #ffeb3b  ;
    }
    50%{
      background: #ffeb3b;
      box-shadow: 0px 0px 40px #ffeb3b;
    }
    100%{
      background: #ffeb3b;
      box-shadow: 0px 0px 3px #ffeb3b;
    }
}
  
.gc-adds{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gc-adds > div > button{
    padding: 0.3rem;
    width: 100%;
    margin: 3px;
    cursor: pointer;
}
.sc-adds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc-adds > div{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sc-adds > div > button{
    padding: 0.3rem;
    width: 100%;
    margin: 3px;
    cursor: pointer;
}



.teams{
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    border-radius: 0.3rem;
}
.teams > div{
    width: 100%;
    border: 1px solid white;
    border-radius: 0.3rem;
    margin: 5px;
}

.teams > div > div{
    padding: 5px;
 
}
.teams > div > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.teams > div > div:nth-child(2) > button{
    width: 100%;
    border: 1px solid white;
    font-size: 18px;
    margin: 5px;
}

.sp-fs-5{
    font-size: 5rem;
}
.sp-fs-3{
    font-size: 3rem;
}
.sp-fs-2{
    font-size: 2rem;
}
.sp-fspx-11{
    font-size: 11px;
}

.sc-disabled{
    background-color: #7f1d1d;
}


#ts-1, #ts-2{
    color: rgb(247, 0, 0);
    text-shadow: 0 0 5px rgb(26 2 2 / 60%), 0 0 10px rgb(0 0 0 / 40%);
}